html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;grid-column-start:0;}
html, body{width:100%;height:100%;margin:0;padding:0;line-height:1;box-sizing: border-box;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
pre{font-family:monospace;}
em{font-style:italic;}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/eb-garamond-v26-latin-500.woff2') format('woff2');
}
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/eb-garamond-v26-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/eb-garamond-v26-latin-700.woff2') format('woff2');
}
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    src: local(''), url('../fonts/eb-garamond-v26-latin-italic.woff2') format('woff2');
}

:root{
    /* Absolute sizes */
    --xxxl: 2.5rem;
    --xxl: 2rem;
    --xl: 1.5rem;
        --xl-relative: 1.5em;
    --l: 1.25rem;
        --l-relative: 1.25em;
    --m: 17px;
    --s: 0.5rem;
        --s-relative: 0.5em;
    --xs: 0.3rem;

    /* Typography sizes */
    --f-s: 0.9rem;
    --line-height-text: 1.6;
    --line-height-heading: 1.3;
    --line-height-label: 1.3;

    --b-radius: var(--xs);

    /* Fonts */
    --f-text: 'EB Garamond', sans-serif;
    --f-data: 'Source Sans Pro', 'Trebuchet MS', sans-serif;

    /* Colours */
    --c-page: #f6f5f1;
    --c-widget: #0603010C;
    --c-text: #353534;
    --c-text-light: #73706D;
    --c-text-link: #64719c;

    --c-text-error: #c03;

    --c-text-inverted: var(--c-page);
    --c-page-inverted: var(--c-text);

    --c-border-light: #06030122;

    /* Borders */
    --b-light: 1px solid var(--c-border-light);

    /* Entry grid */
    --grid-gap: var(--s);
    --grid-w: 24rem;
    --grid-w2: calc(var(--grid-w) * 2 + var(--grid-gap));
    --grid-h: 18rem;
}

body{
    padding: 0;
    background: var(--c-page);
    font-family: var(--f-data);
    line-height: var(--line-height-text);
    color: var(--c-text);
}

.timeline-date time, .timeline-date input{
    font-size: var(--xxxl);
    display: block;
    margin: var(--xl) auto 0;
    font-family: var(--f-text);
    line-height: calc(var(--line-height-heading) * var(--xxxl));
    padding: 0;
    border: 0;
    text-align: center;
    width: 100%;
    max-width: 400px;
    border-radius: var(--b-radius);
}
    .timeline-date time:hover{
        cursor:pointer;
        background: var(--c-widget);
    }
    .timeline-date input{
        background: var(--c-widget);
        border-radius: var(--b-radius);
        outline-color: var(--c-text-link);
        font-family: var(--f-data);
        font-size: var(--xl);
    }
    .timeline-date small{
        font-size: var(--m);
        font-family: var(--f-data);
        color: var(--c-text-light);
        margin:var(--s) 0 var(--xl);
        display: block;
    }
h2{
    font-size: var(--xl);
    margin: var(--m) 0;
}
h3{
    font-size: var(--l);
    margin: var(--m) 0;
}
h4{
    font-size: var(--m);
    margin: var(--m) 0;
}

p{
    margin: var(--s) 0;
}
strong, b{
    font-weight:700
}
em, i{
    font-style:italic;
}
a{
    position:
    relative;
    color: var(--c-text-link);
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: border 0.2s, top 0.2s;
    top: 0;
    overflow-wrap: anywhere;
}
    a:hover{
        border-color: var(--color-link);
        top:-1px
    }

#layout{
    display: grid;
    max-width: calc(var(--grid-w) * 2 + var(--grid-gap));
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: var(--grid-gap);
    margin:0 auto;
    padding: 0 var(--m);
    justify-content: center;
}

@media screen and (max-width: 48rem) {
    #layout{
        grid-template-columns: 1fr;
    }
}

.timeline-nav{
    width: 100%;
    max-width: var(--grid-w2);
    margin: 0 auto;
    grid-column: 1 / -1;
    display: grid;
    grid-template-areas: "back date forward";
    align-items: center;
    text-align: center;
}
    .timeline-nav .timeline-date{
        grid-area: date;
    }
    .timeline-nav .back, .timeline-nav .forward{
        display: flex;
        justify-content: space-evenly;
        gap: var(--s);
    }
        .timeline-nav .controls a{
            flex:1 0 auto;
            text-align: center;
        }
        .timeline-nav .back{
            text-align: left;
            grid-area: back;
        }
        .timeline-nav .forward{
            text-align: right;
            grid-area: forward;
        }
        .timeline-nav .back:before{
            content: '« ';
            font-size: var(--xl);
            line-height: var(--l);
        }
        .timeline-nav .forward:after{
            content: ' »';
            font-size: var(--xl);
            line-height: calc(var(--m) * var(--line-height-label));
        }

    @media screen and (max-width: 48rem) {
        .timeline-nav{
            grid-template-areas: "date date" "back forward";
            gap:var(--m);
            margin-bottom: var(--m);
        }
            .timeline-nav h1{
                margin: 0;
            }
    }

.entry-map, .entry{
    width: 100%;
    max-width: var(--grid-w2);
    margin: 0 auto;
    grid-column: 1 / -1;
    
    font-size: var(--f-s);
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--b-radius);
    overflow: hidden;
}
.entry{
    word-break: break-word;
}

.entry-map{
    height: var(--grid-h);
}

.entry.image, .entry.video{
    grid-column: auto / span 1;
    max-width: 100%;
    background: var(--c-widget);
    height: var(--grid-h);
}
    .entry.video figure:before{
        content: '⏵';
        position: absolute;
        top: var(--s);
        left: var(--s);
        color: var(--c-text-inverted);
        text-shadow: 0 1px 2px var(--c-text);
        font-size: var(--xl-relative);
        line-height: var(--xl-relative);
        display: block;
        aspect-ratio: 1 / 1;
        width: var(--xl-relative);
        text-align: center;
        height: var(--xl-relative);
    }
        .entry.video:hover figure:before{
            opacity: 0;
            transition: opacity 0.2s;
        }
    .entry.image figure, .entry.video figure{
        position: relative;
        width: 100%;
        height: 100%;
    }
        .entry.image figcaption, .entry.video figcaption{
            display: none;
        }
        .entry.image:hover figcaption, .entry.video:hover figcaption{
            display: block;
            position: absolute;
            box-sizing: border-box;
            bottom: 0;
            width: 100%;
            padding:var(--s);
            color: var(--c-text-inverted);
            backdrop-filter: blur(10px) brightness(0.7);
            line-height: var(--line-height-label);
            font-size: var(--f-s);
        }
        .entry.video video{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;   
        }
            .entry.video:hover video{
                object-fit: contain;
            }
        .entry.image img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
            .entry.image.pdf img{
                object-fit: cover;
                object-position: center top;
            }

.entry.diary{
    font-family: var(--f-text);
    font-size: var(--xl);
    border-radius: 0;
}
    .entry.diary main{
        margin: var(--xl) 0;
    }
        .entry.diary main :first-child{
            margin-top:0;
        }
        .entry.diary main :last-child{
            margin-bottom:0;
        }
        .entry.diary p{
            margin: var(--m) 0;
        }
        .entry.diary hr{
            margin: var(--xl) 0;
            border: none;
            border-top: var(--b-light);
        }
        .entry.diary ul, .entry.diary ol{
            list-style: inside;
        }
    .entry.diary + .entry.diary{
        border-top: var(--b-light);
    }

.entry.event{
    background: var(--c-widget);
    padding: var(--s);
    display: grid;
    grid-template-columns: 2em 1fr auto;
    grid-template-areas: "icon body time";
    align-items: center;
    position: relative;
    gap: var(--xs) var(--m);
}
    .entry.event.starts-earlier:before, .entry.event.ends-later:after{
        content: '';
        display: block;
        width: var(--grid-gap);
        height: 100%;
        position: absolute;
    }
    .entry.event.starts-earlier{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
        .entry.event.starts-earlier:before{
            left: calc(var(--grid-gap) * -1);
            background: linear-gradient(90deg, transparent, var(--c-widget));
        }
    .entry.event.ends-later{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
        .entry.event.ends-later:after{
            right: calc(var(--grid-gap) * -1);
            background: linear-gradient(270deg, transparent, var(--c-widget));
        }

    .entry.event > time{
        font-size: var(--m);
        text-align: right;
    }
        .entry.event > time.all-day{
            color: var(--c-text-light);
        }
    .entry.event > i{
        grid-area: icon;
        text-align: center;
        font-size: var(--l);
        line-height: var(--line-height-label);
    }
    .entry.event .summary{
        grid-area: body;
        font-size: var(--m);
        line-height: var(--line-height-heading);
    }
        .entry.event .summary .location{
            font-size: var(--f-s);
            margin-top: var(--xs);
            display: block;
        }
    .entry.event:not(.expanded) .description{
        max-height: calc(1em * var(--line-height-text));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), transparent 100%);
    }
    .entry.event .description{
        grid-area: body;
        grid-row-start: 2;
    }

.entry.transaction{
    background: var(--c-widget);
    padding: var(--s);
    display: grid;
    grid-template-columns: 2em 1fr auto;
    grid-template-areas: "icon description amount";
    align-items: center;
    position: relative;
    gap: var(--m);
}
    .entry.transaction > img{
        grid-area: icon;
        width: 30px;
        border-radius: 50%;
    }
    .entry.transaction .description{
        grid-area: description;
    }
    .entry.transaction .summary{
        font-size: var(--m);
    }
    .entry.transaction .amount{
        grid-area: amount;
        font-size: var(--m);
        text-align: right;
        font-size: var(--m);
    }

.entry.search{
    background: var(--c-widget);
    padding: var(--s);
    display: grid;
    grid-template-columns: 2em 1fr auto;
    grid-template-areas: "icon query time";
    align-items: center;
    position: relative;
    gap: var(--m);
    color: var(--c-text);
}
    .entry.search:hover{
        color: var(--c-text-link);
    }
    .entry.search > i{
        grid-area: icon;
        text-align: center;
    }
    .entry.transaction .query{
        grid-area: query;
    }
    .entry.transaction time{
        grid-area: time;
        text-align: right;
        font-size: var(--m);
    }